#amount-input-form{
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 50px;
    border-bottom: 2px solid #F5F5F5;
}

input[type=text], input[type=number]{
    background-color: #F5F5F5;
}

input[type=submit]{
    background-color: purple;
    border-color: purple;
}

.blah{
    background-color: green;
}
